.panel {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 80%;
  background-color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: lavenderblush;
  padding: 1em 1em 1em 1em;
}

.file-reader {
  margin-top: 1%;
  border-style: dotted;
  border-color: lavenderblush;
}

.input-file {
  width: 100%;
}

.title {
  font-size: larger;
  font-weight: 700;
}

.code-like {
  font-style: italic;
}

.smaller {
  font-size: small;
}