.panel {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 80%;
  background-color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: lavenderblush;
  padding: 1em 1em 1em 1em;
}