body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Verdana', 'Geneva', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url('https://i.imgur.com/eDGkOXl.jpg');
}

a,
a:visited {
  color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}